.clients {
    position: relative;

    .client {      
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        border-radius: 18px;

        .client-name {
            font-size: 18px;
            font-weight: bold;
            color: $blue;
        }
        
        &-1 {
            position: absolute;
            top: -480px;
            right: 80px;
            padding: 20px;
            width: 20%;
        }

         &-2 {
            position: absolute;
            top: -170px;
            right: 220px;
            padding: 20px;
            width: 20%;
        }
    }
}